<!DOCTYPE html>
<html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8">
        <title>MHB Vergleich</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
        <link rel="icon" href="logo.ico" type="image/x-icon" />
    </head>
    <body>
        <div class="container">
            <h2>Gib die Namen / Links der Modulhandbücher ein</h2>
            <input type="text" id="mhb1" placeholder="Modulhandbuch 1" />
            <input type="text" id="mhb2" placeholder="Modulhandbuch 2" />
            <button id="compareButton" onclick="compare()" disabled>Vergleichen</button>
        </div>

        <script>
              const mhb1 = document.getElementById("mhb1");
              const mhb2 = document.getElementById("mhb2");
              const compareButton = document.getElementById("compareButton");

              function validateFields() {
                  if (mhb1.value.trim() !== "" && mhb2.value.trim() !== "") {
                      compareButton.disabled = false;
                  } else {
                      compareButton.disabled = true;
                  }
              }

              mhb1.addEventListener("input", validateFields);
              mhb2.addEventListener("input", validateFields);

            function compare() {
                const mhb1 = document.getElementById("mhb1").value;
                const mhb2 = document.getElementById("mhb2").value;
                console.log("MHB1:", mhb1);
                console.log("MHB2:", mhb2);

                try {
                    const response = fetch("/compare", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({"mhb1": mhb1, "mhb2": mhb2})
                    });
                    const result = response.json();
                    console.log("Antwort:", result);
                    alert(result.message);
                } catch (err) {
                    console.error("Request failed:", err);
                }
            }
        </script>
    </body>
</html>
