# created by virtualenv automatically
venv
.idea
__pycache__
testing
pdfs
lib
lib64
bin
pyvenv.cfg
test.csv
test.html
test.md
universities
Modulhandbuch_Bachelor_of_Music_PO_2023_ID48735_5_de_20250414_1754.html
.git
include
screenlog.*
do_not_track
.env
test
