bs4
lxml
flask
numpy
selenium
requests
psycopg
psycopg_pool
dotenv
aiohttp
selectolax
tldextract
tqdm
requests-html
typeguard
ollama
crawl4ai
mypy
pylint
torch
waitress
bcrypt
pytz
tabulate
bidict
smolagents[toolkit]
docling
tokenizers