@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@theme {
  --font-montserrat: "Montserrat", sans-serif;
}

body {
  @apply bg-white dark:bg-black;
}
